{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<style>
.panel-body{
    margin-top: 0px;
}
</style>
<div class="container">
    <div class="row">
        <!-- Empty div -->

        <div class="col-md-4 phone-section">
        </div>



        <div class="col-md-4 form-section">

            {% if form.errors %}
            <p>Password or Username is incorrect</p>
            {% endif %}

            <div class="panel panel-default" style="margin-top:5px;">
                <h3 class="text-center"style="margin-top:10px;">Sign in Here</h3>
                <div class="panel-body">
                        <img alt="" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" height=200px border-radius=30px;  class="img-fluid">
                    <div class="text-center">

                        <form action="/accounts/login/" method="post">

                            {% csrf_token%}
                            {% bootstrap_form form %}

                            <div class="form-group">
                                <input type="submit" class="btn btn-info login-button" value="Log in">

                            </div>
                            <input type="hidden" name="next" value="/">

                        </form>
                    </div>
                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <p> Don't have an account? <span><a class="" href="/accounts/register">Sign Up</a></span></p>
                </div>
            </div>

        </div>
        
    </div>

</div>



{% endblock %}