{% load static %}
<style>
    .dropdown-item:hover{
        background-color:cadetblue;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #656145;">
    <a class="navbar-brand" style="color:orange;font-style: oblique;"href="/">Neighbourhood Sheriff</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
         
            <li class="nav-item">
                <a class="nav-link" href="{% url 'business'%}">Businesses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'health'%}">Health</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'authorities'%}">Security</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'notifications'%}">Notifications</a>
            </li>
            <li class="nav navbar-nav navbar-right">
                <form class="navbar-form" role="search" action="{% url 'search_results'%}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search business "
                            name="business">
                    </div>
                </form>
            </li>

            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}

          
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'my-profile'%}">View Profile</a>
                  <a class="dropdown-item" href="{% url 'update-profile' %}">Edit Profile</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
           
         
        </ul>
        
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Sign In</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">



            </div>
        </form>
    </li>
</div>  

<!-- nav nav nav -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav> -->